<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074690990052-7a0qfu5uut1o2rhfgjfi5hktmk2flmbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074690990052-7a0qfu5uut1o2rhfgjfi5hktmk2flmbq</string>
	<key>API_KEY</key>
	<string>AIzaSyDsHDe8lZR7LACE6O1F3tF6FZ1gMLvDbeI</string>
	<key>GCM_SENDER_ID</key>
	<string>1074690990052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saksham</string>
	<key>PROJECT_ID</key>
	<string>saksham-8f9e0</string>
	<key>STORAGE_BUCKET</key>
	<string>saksham-8f9e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074690990052:ios:444094ea412de5456571f1</string>
</dict>
</plist>